# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries by Data Scientists include: 
1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow
5. Matplotlib

| Data Scientists Tools |
|-----------------------|
| Jupyter Notbook       |
| RStudio               |
| Apache Zeppelin       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3*4) +5

17

In [5]:
#This will convert 200 minutes to hours by dividing by 60
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Provide examples of arithmetic operations in Python
- Create tables and lists in markdown

## Author
Nicolas Vernaton